<!--The content below is only a placeholder and can be replaced.-->
<h1>Hi, I'm <p>Satyajit</p>, I <p>code</p> stuff</h1>
<body>
    <main>
        <!-- <section class="quote">
            "You might not think that programmers are artists, but programming is an extremely creative profession. It's logic-based creativity." - John Romero
        </section> -->
        <section class="quote">
            <div [innerHTML]="thequote.content" id="quotecontent"></div>
            <div [innerHTML]="thequote.title" id="quotetitle"></div>
            <button mat-flat-button class="quoteme" (click)="quoteMe()">Quote Me</button>
            </section>
        <section class="music">
            <h3>What am i listening to ?</h3>
            <div class="musicPlaying">
                <img src="./assets/music.svg" alt="Music_Icon">
                <div id="musicSegment">
                    <div id="playingtitle">{{(playing | async)?.title}}</div>
                    <div id="playingalbum">{{(playing | async)?.atitle}}</div>
                    <div id="playingtimestamp">{{((playing | async)?.timestamp)*1000 | date:'yyyy-MM-dd HH:mm:ss'}}</div>
                    <div id="status" style.color="{{status == 'Online' ? 'green' : 'red'}}">{{status}}</div>
                    <!-- <div id="status" style.color="{{status == 'Online' ? 'green' : 'red'}}">{{((playing | async)?.timestamp)> 2 ? 'true' :'false')}}</div> -->
                </div>
            </div>
        </section>
    </main>
    <img src="./assets/cat.svg" alt="Meri Billi">
</body>