* {
    margin: 0;
    padding: 0;
}
h1 {
    color: white;
    font-size: 7em;
    padding: 40px;
}

h1 p:nth-child(1) {
    display: inline;
    color: rgba(252, 136, 48, 0.884);
    text-shadow: 5px 5px rgba(252, 136, 48, 0.2);
}

h1 p:nth-child(2) {
    display: inline;
    color: #00b893c4;
    text-shadow: 5px 5px #00b89354;
}

body {
    display: grid;
    grid-template-columns: 70% 40%;
    grid-template-rows: auto;
    grid-template-areas: "main cat";
    /* justify-items: left; */
}

main {
    width: 100%;
    display: block;
    grid-area: main;
    justify-self: center;
}

img {
    margin: 0;
    padding: 0;
    display: flex;
    grid-area: cat;
    /* width: 55%; */
    width: 55%;
    /* width: 60vw;
    min-width: 360px;
    margin: 5% auto; */
    /* padding: 50px; */
    /* padding: auto; */
    /* text-align: center; */
    justify-self: left;
}

/* 
#my-cat {
    grid-area: cat;
    background: url("../assets/cat.svg");
    background-size: cover;
    background-repeat: no-repeat;
} */

.quote:before {

}

.quote {
    margin: 70px;
    padding: 20px;
    /* display: inline-block; */
    display: block;
    color: white;
    background-color: rgba(255, 255, 255, 0.22);
    font-size: 2em;
    border-radius: 10px;
    font-family: 'Arvo';
    /* height: 50vh; */
}

#quotetitle {
    justify-self: right;
    justify-items: right;
    /* since it's a inline-block now */
    text-align: right;
}

#quotecontent {
    text-align: justify;
}

.music {
    margin: 70px;
    padding: 20px;
    /* display: grid; */
    display: block;
    color: white;
    border-radius: 10px;
    background-color: rgba(255, 255, 255, 0.22)
}

.music h3 {
    font-weight: normal !important;
    margin-bottom: 35px;
    font-size: 1.5em;
    padding: 10px;
    padding-bottom: 0;
}

.music img {
    width: 80px;
    margin: 20px;
    padding: 0;
}

.musicPlaying {
    display: grid;
    grid-template-columns: 100px auto;
    grid-template-areas: "musicIcon musicText";
}

.musicPlaying img {
    display: block;
    grid-area: musicIcon;
}

#musicSegment {
    padding: 20px;
    padding-left: 40px;
    margin: 20px;
    font-family: 'Roboto';
    font-size: 1.6em;
    display: flex;
    align-items: center;
    grid-area: musicText;
    border-radius: 80px;
    background-color: #f1c40f;
}

#playingtitle {
    color: #d63031;
}

#musicSegment *::after {
    content: "   ";
    white-space: pre;
}

/* #playingtitle::after {
    content: "   ";
    white-space: pre;
}

#playingalbum::after {
    content: "   ";
    white-space: pre;
}

#playingalbum::after {
    content: "   ";
    white-space: pre;
} */

button {
    margin-top: 15px;
}

.quoteme {
    background-color: rgba(16, 172, 133, 0.507);
    display: inline-block;
    border-radius: 5px;
}


